<div class="profileform">
<%= form_for @profile, html: { multipart: true, role: "form" } do |f| %>
  <h3>Edit your profile</h3>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited your profile from being saved:</h2>
      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: 'form-control-sm',size: 50, autofocus: "autofocus" %>
    </div>
    <div class="form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: 'form-control-sm', size: 50 %>
    </div>
    <div class="form-group">
      <%= f.label :address_1 %>
      <%= f.text_field :address_1, class: 'form-control-sm', size: 50 %>
    </div>
    <div class="form-group">
      <%= f.label :address_2 %>
      <%= f.text_field :address_2, class: 'form-control-sm', size: 50 %>
    </div>
    <div class="form-group">
      <%= f.label :city %>
      <%= f.text_field :city, class: 'form-control-sm' %>
    </div>
    <div class="form-group">
      <%= f.label :state %>
      <%= f.text_field :state, class: 'form-control-sm', size: 5 %>
    </div>
    <div class="form-group">
      <%= f.label :postal_code %>
      <%= f.text_field :postal_code, class: 'form-control-sm', size: 10 %>
    </div>  
    <div class="form-group">
      <%= f.label :profile_pic, "Profile Image" %>
      <div class="text-left">
        <%= image_tag @profile.profile_pic.url(:small), id: "profile-pic" %>
      </div>
      <%= f.file_field :profile_pic %>
    </div>
    <div class="actions">
      <%= f.submit "Save", class: "btn btn-primary" %>&nbsp;<%= link_to 'Cancel', root_path %>
    </div>
<% end %>
</div>

