<div class="col-xs-6 col-xs-offset-3">
  <h3>Contact Vineyard Vacations</h3>
  <%= simple_form_for @contact, html: { class: "well form-horizontal" } do |f| %>
    <%= f.input :name, required: true %>
    <%= f.input :email, required: true %>
    <%= f.input :message, as: :text, required: true %>
    <div>
      <%= f.button :submit, 'Send message', class: "btn btn-primary" %>
    </div>
  <% end %>
</div>