<div class="well">
  <% @pictures.each do |pic| %>
    <div class="well">
      <img src="<%= pic.image.url(:medium) %>">
      <div class="caption text-center">
        <%= pic.caption %>
        <br />
        <%= link_to "Edit", edit_host_location_picture_path(@location, pic) %>
        <%= link_to "Delete", host_location_picture_path(@location, pic), 
          data: { confirm: 'Are you sure?', method: :delete } %>
      </div>
    </div>
  <% end %>
  <%= form_for [:host, @location], :html => { :class => 'form-horizontal', multipart: true } do |f| %>
    <div class="control-group">
      <div class="controls">
        <%= f.text_field :name, hidden: true, :class => 'text_field' %>
      </div>
    </div>
     <div class="control-group">
      <%= f.label "Add Photos", :class => 'control-label' %>
      <div class="controls">
        <%= file_field_tag "images[]", type: :file, multiple: true %>
      </div>
    </div>
    <br />
     <div class="form-actions">
      <%= f.submit "Done", :class => 'btn btn-primary' %>
    </div>
  <% end %>
</div>