<h1>My Reservations</h1>

<% if @reservations.count > 0 %>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Location</th>
        <th>Start date</th>
        <th>End date</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @reservations.each do |reservation| %>
        <tr>
          <td><%= reservation.location.name + " " + reservation.location.csz %></td>
          <td><%= reservation.start_date %></td>
          <td><%= reservation.end_date %></td>
          <td>
            <%= link_to edit_reservation_path(reservation), id: "edit", class: "btn btn-default btn-sm" do %>
              <span class="glyphicon glyphicon-pencil"></span>
              <span class="sr-only">Edit</span>
            <% end %>
            <%= link_to reservation, id: "delete", class: "btn btn-default btn-sm",
                        data: { confirm: 'Are you sure?' }, method: :delete  do %>
              <span class="glyphicon glyphicon-trash"></span>
              <span class="sr-only">Delete</span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>

  <p>No current reservations</p>

<% end %>

<br>
<%= button_to 'New Reservation', new_reservation_path, class: "btn btn-primary", method: :get  %>
