<%= simple_form_for [ @location, @picture ], method: :put,
  :html => { :class => 'form-horizontal', multipart: true } do |f| %>
  <%= image_tag @picture.image.url(:medium) %>
  <%= f.input :caption %>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    &nbsp;&nbsp;
    <%= link_to 'Back to list', location_pictures_path(@location) %>
  </div>
<% end %> 