<div class="well">
  <%= f.input :name %>
  <%= f.input :nearest_lake,
        required: true,
        label: 'Nearest Lake',
        collection: Location::LAKES,
        selected: Location::LAKES[0] %>
  <%= f.input :loc_type,
        required: true,
        label: 'Accomodation type',
        collection: Location::LOC_TYPES,
        selected: Location::LOC_TYPES[0] %>
  <%= f.input :description %>
  <%= f.input :occupancy, as: :integer %>
  <%= f.input :address_1,
        label: "Street Address" %>
  <%= f.input :address_2,
        label: 'Secondary Address (optional)' %>
  <%= f.input :city %>
  <%= f.input :state %>
  <%= f.input :postal_code,
        label: "Zip" %>
  <%= f.submit "Save", class: "btn btn-primary" %>
  &nbsp;&nbsp;
  <%= link_to 'Back to list', locations_path %>
</div>
