<div class="well">
  <%= f.input :name, 
        placeholder: 'Yellow bedroom' %>
  <%= f.input :loc_type,
        required: true,
        label: 'Accomodation type',
        collection: Location::LOC_TYPES,
        default: Location::LOC_TYPES[1] %>
  <%= f.input :description, 
        placeholder: 'One twin bed' %>
  <%= f.input :address_1, 
        label: "Street Address", 
        placeholder: '123 Sesame Street' %>
  <%= f.input :address_2, 
        label: 'Secondary Address (optional)',
        placeholder: 'Suite 17' %>
  <%= f.input :city,
        placeholder: 'Anytown' %>
  <%= f.input :state,
        placeholder: 'NY' %>
  <%= f.input :postal_code,
        label: "Zip",
        placeholder: '12345' %>
  <%= f.submit "Save", class: "btn btn-primary" %>
  &nbsp;&nbsp;
  <%= link_to 'Back to list', locations_path %>
</div>