<%= simple_form_for @location, defaults: { input_html: { class: 'form-control input_sm' } } do |f| %>

  <div class="locationform col-xs-4">
    <h3 class="text-center"><%= @action %> Location</h3>
    <%= render 'form', f: f %>
  </div>

  <div class="pictureform col-xs-4">
    <h3 class="text-center">Photos</h3>
    <%= render 'gallery', f: f %>
    <div class="locationmap">
      <h3 class="text-center">Google Map</h3>
      <%= render 'map' %>
    </div>
  </div>

  <div class="calendar col-xs-4">
    <h3 class="text-center">Availability</h3>
    <%= render 'calendar' %>
  </div>

<% end %>